# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.eml
*.iml
*.ipr
*.iws
